.findpwdbox {
    background-color: white;
    width: 480px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.findpwd1 {
    font-size: 28px;
    letter-spacing: 3px;
}

.loginbtn3 {
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgba(051, 82, 143, 0.65);
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.line2 {
    margin-top: 15px;
    width: 380px;
    margin-bottom: 30px;
}

.findpwdbox .row2 {
    margin-bottom: 20px;
}

.id1, .name1, .email1 {
    border: none;
    border-bottom: 2px solid black;
    width: 220px;
}

.auth1 {
    border: none;
    border-bottom: 2px solid black;
    width: 200px;
}
  
.findpwdbtn {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgba(051, 82, 143, 0.8);
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pwdid {
    margin-left: -10px;
    margin-right: 15px;
    letter-spacing: 10px;
    flex-basis: 80px;
    font-weight: 500;
}

.pwdname {
    margin-left: -10px;
    margin-right: 15px;
    letter-spacing: 20px;
    flex-basis: 80px;
    font-weight: 500;

}

.pwdemail {
    margin-left: -10px;
    margin-right: 15px;
    letter-spacing: 10px;
    flex-basis: 80px;
    font-weight: 500;

}

.pwdauth {
    margin-right: 10px;
    letter-spacing: 3px;
    flex-basis: 80px;
    font-weight: 500;
}

.authbtn {
    margin-left: 15px;
    width: 46px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgba(051, 82, 143, 0.9);
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}