
#join {
  font-size: 28px;
  letter-spacing: 9px;
  text-align: center;
  margin-top: 5px;
  margin-left: 10px;
}

.joinbox {
  background-color: white;
  width: 480px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.loginbtn2 {
  margin-top: -5px;
  background-color: rgba(051, 82, 143, 0.65);
  border: none;
  color: white;
  width: 155px;
  height: 28px;
  font-size: 13px;
  border-radius: 5px;
  letter-spacing: 1px;
}

.line3 {
  margin-top: 20px;
  width: 300px;
}

.join_title {
  text-align: left;
  margin-bottom: 10px;
  display: block;
  width: 300px;
  padding-left: 5px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}

.join_row {
  align-items: center;
  display: block;
}

.ps_box input {
  width: 300px;
  box-sizing: border-box;
  margin-top: -5px;
  margin-bottom: -5px;
  display: block;
}

.submitbtn {
  margin-top: 35px;
  background-color: rgba(51, 82, 143, 0.9);
  border: none;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 40px;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  color: white;
  border-radius: 5px;
  letter-spacing: 3px;
  font-weight: 700;
}

