#loginp {
  font-size: 28px;
  letter-spacing: 7px;
}

.box2 {
  background-color: white;
  width: 480px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  text-align: center;
  border-radius: 20px;
}

.loginspacing1 {
  height: 3.5em;
}

input {
  width: 300px;
  height: 35px;
  border: none;
  border-bottom: 2px solid black;
  margin: auto;
}

input::placeholder {
  position: relative;
  padding-left: 15px;
  padding-bottom: 10px;
}

.loginspacing {
  height: 2.5em;
}

.loginspacing2 {
  height: 3.5em;
}

.loginspacing3 {
  height: 1.5em;
}

.idpw {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginbtn {
  width: 300px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: rgba(051, 82, 143, 0.8);
  color: white;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 9px;
  text-align: center;
}

.idpw button {
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: grey;
  font-size: 11px;
  background: none;
  margin: 0;
  position: relative;
  font-size: 13px;
}

.idpw button:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%; /* 세로선을 버튼 위아래 중앙으로 정렬 */
  transform: translateY(-50%); /* 세로선의 높이의 절반만큼 위로 이동 */
  right: 0;
  width: 0.6px;
  height: 60%; /* 세로선 높이 조정 */
  background-color: grey;
  margin-left: 10px; /* 세로선과 버튼 사이의 간격 조정 */
}
