.App {
  margin: 1rem;
}

.App .inputForm {
  margin: 2rem;
}

.App > div {
  display: flex;
  width: 100%;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.site-name {
  font-size: 20px;
}
.navbar-right {
  display: flex;
  align-items: center;
}

.search-input {
  height: 10px; /* 높이를 50px로 설정 */
  flex-grow: 1;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  margin-left: 100px; /* 오른쪽 여백 추가 */
  border-bottom: 2px solid #000;
}

.search-button {
  width: 100px; /* 너비를 100px로 설정 */
  height: 30px; /* 높이를 30px로 설정 */
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border: none;
  letter-spacing: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.search-input::placeholder {
  font-size: 15px;
  letter-spacing: 1px;
}

.fv-list {
 margin-top: 10px;
 margin-left: 32%;
 display: flex;
 
 justify-content: center;
 color: #333;
 padding: 10px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 font-weight: bold;
 font-size: 20px;
 width: 500px;
 border-top: 2px solid black;
 border-bottom: 2px solid black;

}

