.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.site-name {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.mypage-link,
.logout {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}


.result-container {
  margin-top: 30px;
  width: 28%;
  height: 600px;
  overflow: auto;
  margin-left: 25px;
  padding-right: 12px;
  margin-right: 100px;
}

.search-result-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
  padding-left: 30px;
  margin-bottom: 16px;
  font-family: "AppleSDGothicNeo-Regular", sans-serif; /* 폰트 스타일 */
  font-size: 15px;
  color: #333;
  background-color: #fff;

}

.search-result-item h5 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 3px;
}

.search-result-item span {
  display: block;
  margin-bottom: 8px;
}

.search-result-item button {
  width: 90px;
  height: 30px;
  letter-spacing: 2px;
  background-color: rgba(051, 82, 143, 0.8);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 8px;
}

.resultname {
  margin-left: 10px;
}

.search-result-item button:hover {
  background-color: rgb(051, 82, 143);
}

.fv-list {
  margin-left: 32%;
 display: flex;
 
 justify-content: center;
 color: #333;
 padding: 10px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 font-size: 20px;
 font-weight: bold;
 width: 500px;
 border-top: 2px solid black;
 border-bottom: 2px solid black;

}

